.chessboard {
    display: flex;
    flex-direction: row;
    
    width: 400px;
}
.gray, .black {
    flex: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gray {
    background-color: gray;
}
.black {
    background-color: black;
    color:white;
}







